[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExGaussEstim"]
	path = ExGaussEstim
	url = https://github.com/cran/ExGaussEstim
